**/node_modules/**
*/.*
.simplestpomodoro.json
.newrelic.json
.db.js
**/build/*.js
**/build/*.css
/public/stylesheets/bootflat/*
/log/*
/public/images/pomodoro.jpg
package-lock.json
.*
.DS_Store
dump.rdb
*/.DS_Store
newrelic_agent.log
