extends layout

block content
  include header
    div.container
      div.col-lg-8.col-xs-12
        canvas#myChart
      div.col-lg-2.col-xs-3
        input(type="date")
      div.col-lg-2.col-xs-3.dropdown.show
        button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") Select Duration
        ul.dropdown-menu(role="menu")
          li: a.dropdown-item(href="#") Week
          li: a.dropdown-item(href="#") Month
          li: a.dropdown-item(href="#") Year
  include footer
  script(src='/javascripts/build/activity.js')
