extends layout

block header
  link(rel='stylesheet' href='/dist/css/bootstrap-select.css')

block content
  include header
    div.task.container
      select.task.selectpicker(title="Select Task" data-style="btn-default")
    div.container
      div.col-lg-8.col-xs-12
        canvas#myChart
      div.col-lg-2.col-xs-4
        input(type="date")
      div.col-lg-2.col-xs-4.dropdown.show
        button.btn.btn-primary.dropdown-toggle#duration(type="button" data-toggle="dropdown")
          |Select Duration
          span.caret
        ul.dropdown-menu(role="menu")
          li: a.dropdown-item#week(href="#") Week
          li: a.dropdown-item#month(href="#") Month
          li: a.dropdown-item#year(href="#") Year
  include footer
  script(src='/javascripts/build/activity.js')
