extends layout

block content
  div#loader-bg
    div#loader
      img(src="/images/gif/icon_loader_a_ww_01_s1.gif")
      p.loading Now loading...
  include header
    div#main.wrap
      div.task.container
        select.task.selectpicker(multiple title="Select Task" data-max-options="5" data-live-search="true" data-style="btn-inverse")
      div#downloader
        button#download.btn.btn-primary Download CSV
      div.container
        div.col-lg-12.col-xs-12
          canvas#myChart
        div.col-lg-2.col-xs-4
          input.form-group(type="date")
        div.col-lg-2.col-xs-4.dropdown.show
          button.btn.btn-primary.dropdown-toggle#duration(type="button" data-toggle="dropdown")
            |Select Duration
            span.caret
          ul.dropdown-menu(role="menu")
            li: a.dropdown-item#week(href="#") Week
            li: a.dropdown-item#month(href="#") Month
            li: a.dropdown-item#year(href="#") Year
            li: a.dropdown-item#all(href="#") All
  include footer
  script(src='/javascripts/build/activity.js')
