extends layout

block content
  div.index
    include header
    div.content#main
      div#eula
      div#agreement.text-center
        p#EULA.index
          | we will correct your personal information only for using displaying.
        input#agree-checkbox(type="checkbox")
        label.index 使用条件に同意
      div#submit-eula.text-center
        button#submit-eula.btn.btn-primary(disabled="true") 同意して次へ
  include footer
  script(src='/javascripts/build/eula.js')
