block content
  footer.footer.navbar-fixed-bottom.footer-custom
    div.container
      div.row
        div.col-lg-2.col-sm-2
          a(href='/privacy-policy') Privacy Poricy
        div.col-lg-2.col-sm-2
          a(href='/terms-of-use') 利用規約
        div.col-lg-6.col-sm-6
          span.text-muted &copy Copyright2018 SimplestPomodoro All Rights Reserved.
