block content
  footer.footer.navbar-fixed-bottom.footer-custom
    div.container
      div.row
        div.col-lg-2
          a Privacy Poricy
        div.col-lg-2
          a 利用規約
        div.col-lg-2
          p.text-muted.text-center SimplestPomodoro
        div.col-lg-2
          p.text-muted.text-center Copyright &copy All Rights Reserved.
