block content
  if user
    nav.navbar.navbar-default.navbar-custom(role="navigation")
      div.navbar-heder
        button.navbar-toggle.collapsed#hamburger(type="button" data-toggle="collapse" data-target="#navbarContents")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/home') SimplestPomodoro
      div.collapse.navbar-collapse#navbarContents
        ul.nav.navbar-nav.navbar-left
          li#active: a#username(href="#") Welcome, #{username}!
        ul.nav.navbar-nav.navbar-right
          li: a#timer(href="/home") timer
          li: a#atcitivy(href="/activity") activity
          li: a#settings(href="/settings") settings
          li: a#task_management(href="/task_management") task management
          li: a#help(href="/help") help
          li: a#logout(href="#") logout
  else
    nav.navbar.navbar-default.navbar-custom(role="navigation")
      div.navbar-heder
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbarContents")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') SimplestPomodoro
      div.collapse.navbar-collapse#navbarContents
        ul.nav.navbar-nav.navbar-right
          li: a#help(href="/help") help
          li: a#login(href="login") login
          li: a#register(href="/register") register
  script(src="/javascripts/build/header.js")
