extends layout

block content
  include header
  div#main
    div.container
      div#help
        h4#faq FaQ
          p this page will show you some FaQ content.
      div#contact
        h4 Contact Info
          p#contact-address test@email.com
          p#contact-name Administrator
  include footer
