extends layout

block headers
  link(rel='stylesheet' href='/dist/css/introjs.css')
  script(src='/dist/js/intro.js')

block content
  div#loader-bg
    div#loader
      img(src="/images/gif/icon_loader_a_ww_01_s1.gif")
      p.loading Now loading...
  include header
  div#main.wrap
    div#contents.pomodoro
      div.task
        div.row
          div.selector.col-lg-2
            select.selectpicker(data-live-search="true" data-style="btn-inverse")
          div.tagsinput-primary.col-lg-4
            input.tagsinput.col-lg-4(name="tagsinput" placeholder="タグを5個まで追加")
        div.row
          div.newTask
            div.submitNewTask-input.col-lg-2
              button#submitNewTask.btn.btn-inverse 新規タスクを追加
            div.newTask-Input.col-lg-2
              input#newTask.form-control(type="hidden" placeholder="タスク名を入力" data-toggle="popover" data-content="" data-placement="bottom" data-trigger="manual")
      div.timer(data-intro='This is main timer.')
        div.timer-container
          div.row
            div.timer-status.col-lg-2
              span.term Term:
              p.currentStatus Status:
          div.row
            p.time.col-lg-1 00:00
            div.slider-container.col-lg-11
              div.slider
      div#btn-timer
        button.btn.btn-inverse.btn-wide.start(disabled="true") start
        button.btn.btn-default.btn-wide.stop(disabled="true") stop
      div#btn-reset
        div.row
          div.button-col.col-lg-2
            button.btn.btn-danger.reset Reset Timer

      div.modal.fade(tabindex="-1")
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type="button" data-dismiss="modal")
                span(aria-hidden="true") &times;
              b.modal-title#modal-label modal dialog
            div.modal-body sample message
            div.modal-footer
              button.btn.btn-default(type="button" data-dismiss="modal") Close
  include footer
  script(src="/javascripts/build/home.js")
