extends layout

block content
  div#loader-bg
    div#loader
      img(src="/images/gif/icon_loader_a_ww_01_s1.gif")
      p.loading Now loading...
  include header
  div#main.wrap
    div#contents.pomodoro
      div.task
        div.selector
          select.selectpicker(data-live-search="true" data-style="btn-primary")
        div.tagsinput-primary
          input.tagsinput(name="tagsinput" placeholder="Input tags up to 5.")
        div.newTask
          input#newTask(placeholder="input task name" data-toggle="popover" data-content="" data-placement="bottom" data-trigger="manual")
          button#submitNewTask.btn.btn-primary Add Task
      div.timer
        p.term Term:
        p.currentStatus Status:
        p.time 00:00
      div#btn-timer
        button.btn.btn-primary.btn-wide.start(disabled="true") start
        button.btn.btn-default.btn-wide.stop(disabled="true") stop
      div#btn-reset
        button.btn.btn-danger.reset reset Timer

      div.modal.fade(tabindex="-1")
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type="button" data-dismiss="modal")
                span(aria-hidden="true") &times;
              b.modal-title#modal-label modal dialog
            div.modal-body sample message
            div.modal-footer
              button.btn.btn-default(type="button" data-dismiss="modal") Close
  include footer
  script(src="/javascripts/build/home.js")
