extends layout

block content
  div.index
    include header
    div.container
      div.center-block.col-xl8.col-xs12
        h1.text-center.index The most simplest way to boot your productivity.
        p.text-center.index SimplestPomodoro helps you to manage your daily tasks and measure your productivity. Just using this, your productivity will be improved than you expected.
      div.center-block.col-xl4.col-xs10
        button#login.btn.btn-primary.center-block Login
        p.text-center.text-white or 
          a.register Register
  include footer
  script(src="/javascripts/build/index.js")
