extends layout

block content
  div.index
    include header
    div.container
      div.center-block.col-xl8.col-xs12
        h3.text-center.index 生産性を向上させませんか？
        p.text-center.index SimplestPomodoroはポモドーロ・テクニックに基づきあなたのタスクを管理し、可視化するタイマーです。
      div.center-block.col-xl4.col-xs10
        button#login.btn.btn-primary.center-block Login
        p.text-center.text-white or 
          a.signup SignUp
  include footer
  script(src="/javascripts/build/index.js")
