doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel='stylesheet' href='/dist/css/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/dist/css/flat-ui.css')
    link(rel='stylesheet' href='/dist/css/remodal.css')
    link(rel='stylesheet' href='/dist/css/remodal-default-theme.css')
    link(rel='stylesheet' href='/stylesheets/build/style.css')
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-55182181-2")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-55182181-2');
    script(src='/dist/js/vendor/jquery.min.js')
    script(src='/dist/js/jquery-ui.js')
    script(src='/dist/js/flat-ui.min.js')
    script(src='/dist/js/remodal.min.js')
    script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js").
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5827129519604490",
        enable_page_level_ads: true
      });
    block headers
  body
    block content
