doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/build/style.css')
    link(rel='stylesheet', href='/stylesheets/bootflat/bootflat.css')
  body
    block content
