doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/build/style.css')
    link(rel='stylesheet' href='/dist/css/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/dist/css/dataTables.bootstrap.css')
    link(rel='stylesheet' href='/dist/css/flat-ui.css')
    link(rel='stylesheet' href='/dist/css/jquery-confirm.min.css')
    link(rel='stylesheet' href='/dist/css/bootstrap-select.css')
    link(rel='stylesheet' href='/dist/css/bootstrap-tagsinput.css')
    script(src='/dist/js/vendor/jquery.min.js')
    script(src='/dist/js/jquery-ui.js')
    script(src='/dist/js/flat-ui.min.js')
    script(src='/dist/js/bootstrap-select.min.js')
    script(src='/dist/js/bootstrap-tagsinput.js')
    script(src='/dist/js/jquery-confirm.min.js')
    script(src='/dist/js/jquery.dataTables.js')
    script(src='/dist/js/dataTables.bootstrap.js')
  body
    block content
