extends layout

block content
  div.index
    include header
    div.container
      div#button-container.center-block
        p#auth-description.index.text-center ログインするには、以下のボタンからGoogle認証
        button#auth: img(src="/images/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png")
  include footer
  script(src="javascripts/build/login.js")
