div#contents.pomodoro
  div.timer
    p.term
    p.currentStatus
    p.time
    button.btn.btn-primary.btn-wide.start start
    button.btn.btn-default.btn-wide.stop stop
script(src='/javascripts/build/pomodoro.js')
