div#contents.pomodoro
  div.timer
    p.term Term:
    p.currentStatus Status:
    p.time 00:00
    button.btn.btn-primary.btn-wide.start(disabled="true") start
    button.btn.btn-default.btn-wide.stop(disabled="true") stop
script(src='/javascripts/build/pomodoro.js')
