div#contents.pomodoro
  div.task
    div.col-lg-12.col-xs-12.dropdown.show#task
      button.btn.btn-primary.dropdown-toggle#task(type="button" data-toggle="dropdown") Select Task
      ul.dropdown-menu(role="menu")
        li: a.dropdown-item#work(href="#") Work
        li: a.dropdown-item#private(href="#") Private
        li.divider
        li: a.dropdown-item#add(href="#") Add Task...
        li: div.form-group
          input#newTask(type="text")
          input#submitNewTask(type="submit")
  div.timer
    p.term Term:
    p.currentStatus Status:
    p.time 00:00
  div#btn-timer
    button.btn.btn-primary.btn-wide.start(disabled="true") start
    button.btn.btn-default.btn-wide.stop(disabled="true") stop
  div#btn-reset
    button.btn.btn-danger.reset reset Timer
script(src='/javascripts/build/pomodoro.js')
