div#contents.pomodoro
  div.task
    div.col-lg-12.col-xs-12.dropdown.show#task
      button.btn.btn-primary.dropdown-toggle#task(type="button" data-toggle="dropdown") Select Task
      ul.dropdown-menu(role="menu")
        li.task: a.dropdown-item.task#work(href="#") Work
        li.task: a.dropdown-item.task#private(href="#") Private
        li.divider
        li: div.input-group
          input#newTask(type="text")
          button.btn.btn-xs.btn-inverse#submitNewTask(type="button") Add Task
  div.timer
    p.term Term:
    p.currentStatus Status:
    p.time 00:00
  div#btn-timer
    button.btn.btn-primary.btn-wide.start(disabled="true") start
    button.btn.btn-default.btn-wide.stop(disabled="true") stop
  div#btn-reset
    button.btn.btn-danger.reset reset Timer
script(src='/javascripts/build/pomodoro.js')
