extends layout

block content
  div.index
    include header
    div.container
      div#button-container
        h1#title.light-text.text-center プライバシーポリシー
        section
          h2.light-text test
          p.light-text a
        section
          h2.light-text test
          p.light-text a
        section
          h2.light-text test
          p.light-text a
  include footer
