extends layout

block content
  include header
  div.alert.alert-success.alert-dismissable.hide.col-12
    a.close(href="#") &times;
    strong success!
  div.container#main
    div.blank
    div.form-group
      label.col-sm-4.control-label(for="displayName") Display Name
      div.col-sm-8
        input.form-control#displayName(type="text" placeholder="Enter displayName")
        button.btn.btn-primary#submit(type="submit") Submit
  include footer
  script(src='/javascripts/build/settings.js')
