extends layout

block headers
  link(rel='stylesheet' href='/dist/css/jquery-confirm.min.css')
  script(src='/dist/js/jquery-confirm.min.js')

block content
  if message
    div.alert.alert-danger(role="alert")= message
  include header
  div#remodal-delete-account.remodal(data-remodal-id="modal-delete" data-remodal-options="hashTracking: true, closeOnCOnfirm: false")
    h3#remodal-warning-header アカウントの削除
    p#remodal-warning-description アカウントを削除しようとしています。この操作を実行すると、タスク、アクティビティ、タグ、登録情報全てが削除されます。一度削除すると、取り消すことはできません。
    p#remodal-delete-description 削除を実行するには、"DeleteAccount"と入力
    div#remodal-delete-form
      button#btn-deleteAccount.btn.btn-danger(disabled="disabled") アカウントを削除
      input#confirmDeleteAccount(placeholder='"DeleteAccount"と入力')
  div.container#main
    div.form-group
      button#delete-account.btn.btn-danger Delete Account
  include footer
  script(src='/javascripts/build/settings.js')
