extends layout

block content
  nav.sidebar
    ul.menu
      li.home: a.home(href='/') home
      li.activity: a.activity(href='/activity') activity
      li.settings: a.settings(href='/settings') settings
