extends layout

block content
  div#loader-bg
    div#loader
      img(src="/images/gif/icon_loader_a_ww_01_s1.gif")
      p.loading Now loading...
  include header
  div.remodal(data-remodal-id="modal" data-remodal-options="hashTracking: true, closeOnConfirm: false")
    button.remodal-close(data-remodal-action="close")
    div#remodal-content
      div#taskInfo
        h3#taskName
      div.tagsinput-primary
        input.tagsinput(name="tagsinput" placeholder="Input tags up to 5.")
    div#remodal-buttons
      button#remodal-cancel.remodal-cancel(data-remodal-action="cancel") close
      button#remodal-confirm.remodal-confirm(data-remodal-action="confirm") Select task
  div#main.wrap
    div.description
    div.list.container-fluid
      h3.description Tasks
      div#addTasks
        button#addTask.btn.btn-primary add Task
        input#newTask(placeholder="input task name..." data-toggle="popover" data-content="" data-placement="bottom" data-trigger="manual")
      div.list-group#task-list.center-block
  include footer
  script(src='/javascripts/build/task_management.js')
