extends layout

block content
  div#loader-bg
    div#loader
      img(src="/images/gif/icon_loader_a_ww_01_s1.gif")
      p.loading Now loading...
  include header
  div#main.wrap
    div.description
    div.list.container-fluid
      h3.description Tasks
      div#addTasks
        button#addTask.btn.btn-primary add Task
        input#addTaskName(placeholder="input task name...")
      div.list-group#task-list.center-block
  include footer
  script(src='/javascripts/build/task_management.js')
