extends layout

block content
  div#loader-bg
    div#loader
      img(src="/images/gif/icon_loader_a_ww_01_s1.gif")
      p.loading Now loading...
  include header
  div.remodal-task.remodal(data-remodal-id="modal" data-remodal-options="hashTracking: true, closeOnConfirm: false")
    button.remodal-close(data-remodal-action="close")
    div#remodal-content
      div#taskInfo
        h3#taskName
        h4#count
      div.tagsinput-primary
        input.tagsinput(name="tagsinput" placeholder="Input tags up to 5.")
    div#remodal-buttons
      button#remodal-confirm.btn.btn-inverse(data-remodal-action="confirm") Select task
  div.remodal-tasks-delete.remodal(data-remodal-id="modal-delete" data-remodal-options="hashTracking: true, closeOnCOnfirm: false")
    button.remodal-close(data-remodal-action="close")
    div#remodal-delete-content
      h3#remodal-warning-header Warning!
      p#remodal-warning-description This action cannot be undone. This function will delete all your tasks, tags, activities permanently.
      p#remodal-delete-description To delete all tasks, please type "DeleteAllTasks" to confirm.
      div#remodal-delete-form
        button#btn-deleteAllTasks.btn.btn-danger(data-remodal-action='close' disabled="disabled") Delete All Tasks
        input#confirmDeleteAllTasks(placeholder='enter "DeleteAllTasks"')
  div#main.wrap
    div.description
    div.list.container-fluid
      h3.description Tasks
      div.row
        div#addTasks
          div.addTask-button.col-lg-1.col-sm-2.col-xs-4
            button#addTask.btn.btn-inverse Add Task
          div.newTask-input.col-lg-2.col-sm-4.col-xs-8
            input#newTask.form-control(type="hidden" placeholder="input task name..." data-toggle="popover" data-content="" data-placement="bottom" data-trigger="manual")
      div.row
        div.input-group
          input#search-query.form-control(type='text' placeholder="Search...")
          span.input-group-btn
            button#submitSearch.btn(type="submit")
              span#clear-search-query.fui-cross
        div.list-group#task-list.center-block
        div#deleteAll
          button#btn-deleteAll.btn.btn-danger Delete All Tasks
  include footer
  script(src='/javascripts/build/task_management.js')
