extends layout

block content
  div.index
    include header
    div.container
      div#button-container.text-center
        h4#title.light-text 利用規約
          p.light-text this page will show you our terms of use.
  include footer
