extends layout

block content
  header
    p#username Welcome, #{username}!
    button#logout logout
  div#main
    p#main_content This is main content
    include pomodoro
  script(src="/javascripts/build/users.js")
