body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#main {
  padding: 50px;
}

canvas#myChart {
  padding: 80px;
}

nav.navbar-default {
  background-color: #e74c3c;
}

footer.footer {
  background-color: #e74c3c;
}
