body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
  &#main {
  padding: 10px;
  }
  &#btn-reset {
    margin: 10px 0 0 0;
  }

  &.hide{
    opacity: 0;
    transition: .7s;
  }

  &.show {
    opacity: 1;
  }

  &.blank {
    height: 100px;
  }
}

canvas#myChart {
}

button {
  &#duration {
    width: 150px;
  }
  &#task {
    width: 250px;
  }
  &#submitNewTask {
    margin: 5px;
  }
}

.alert {
  height: 50px;
  width: 100%;
  position: absolute;
}

input {
  &#newTask {
    margin: 5px;
  }
}

nav.navbar-default {
  //background-color: #e74c3c;
}

footer.footer {
  //background-color: #e74c3c;
}
