@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;

}

span {
  &.close {
    text-align: right;
  }

  &.tag-list {
    margin: 0 2px;
  }

  &.term {
    font-size: 18px;
  }

  &.fui-arrow-left {
    font-size: 11px;
    color: rgb(25,188,155);
  }

  &.fui-arrow-right {
    font-size: 11px;
    color: rgb(25,188,155);
  }



}

div {
  &#main {
    padding: 10px;
    padding-bottom: 160px;
  }

  &#btn-reset {
    margin: 10px 0 0 0;
  }

  &#button-container {
    padding: 1em 1em;
    margin: 2em 0;
    border: solid 3px #333333;
    border-radius: 10px;
    background: rgba(204, 204, 204, 0.5);
  }

  &#loader-bg {
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #e74c3c;
    z-index: 1;
  }

  &#loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    text-align: center;
    color: #fff;
    z-index: 2;
  }

  &#task-list {
    padding: 10px;
  }

  &.list {
  }

  &.index-background {
    background-color: #ffbeaa;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  &.index {
    background: url(/images/pomodoro.jpg) no-repeat;
    background-color: #ffbeaa;
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  &.index:before {
    content: '';
    background: inherit;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }

  &.wrap {
    display: none;
  }

  &.alert {
    display: none;
  }

  &.blank {
    height: 100px;
  }
}


h1 {
  font-size: 32px;
}

h2{
  font-size: 24px;
}

h3 {
  &#remodal-warning-header {
    color: red;
  }
  &.light-text {
    font-size: 18px;
  }
}

canvas#myChart {
}

button {
  &#duration {
    width: 150px;
  }
  &#task {
    width: 330px;
  }
  &#submitNewTask {
  }

  &#auth {
    display: block;
    margin: 0 auto;
    padding: 0;
  }
}

a {
  &.task-selected {
    background-color: blue;
  }

  &.signup {
    cursor: pointer;
  }
}

h1 {
  &.index {
    color: #FFF;
  }
}

p {
  &.index {
    color: #FFF;
  }

  &.light-text {
    font-size: 14px;
  }

}

.light-text {
  color: white;
}

input {
  &#newTask {
  }

  &#confirmDeleteAllTasks {
    margin: 5px;
    width: 250px;
  }

}

nav.navbar-custom {
  //background-color: #FF8C5B;
  background-color: #34485E;
  border-bottom: 1px solid;
  border-color: #888888;
  border-radius: 0px;

}

.navbar-default {
  .navbar-header {
    .navbar-toggle {
      .icon-bar {
        background-color: #white;
      }
    }
  }
}

footer.footer-custom {
  //background-color: #FF8C5B;
  background-color: #34485E;
  border-top: 1px solid;
  border-color: #888888;
  border-radius: 0px;
  height: 50px;
  z-index: 0;
}

.text-white {
  color: #FFF;
}

.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}

.alert {
  height: 50px;
  width: 100%;
  position: absolute;
}

